# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Prisma
prisma/migrations/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.vscode/
.idea/

# Coverage / t
generated/